{% extends 'basepage/base.html'%}
{% block style %}
<style>
    .museum {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .item{
        display: flex;
        flex-direction: column;
        border:1px solid black;
        padding:5px;
        margin-bottom:10px;
    }
    .item h1{
        font-size: 1.5rem;
    }
    
    @media(max-width: 767px){
    iframe{
        width: 250px;
        height: 150px;
    }
    }
    @media(max-width: 574px){
        
        iframe{
        width: 200px;
        height: 125px;
    }
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid museum">
    {% for museum in museums %}
    <div class="item ">
        <h1> {{museum.name}}</h1>
        <p>{{museum.Location}}</p>
        <iframe class="ku-embed" frameborder="0" allow="xr-spatial-tracking; gyroscope; accelerometer" allowfullscreen
            scrolling="no" src={{museum.url}}>
        </iframe>
    </div>
    {% endfor %}
    {% for museum in museums %}
    <div class="item">
        <h1> {{museum.name}}</h1>
        <p>{{museum.Location}}</p>
        <iframe class="ku-embed" frameborder="0" allow="xr-spatial-tracking; gyroscope; accelerometer" allowfullscreen
            scrolling="no" src={{museum.url}}>
        </iframe>
    </div>
    {% endfor %}
</div>
{% endblock %}