{% extends 'basepage/base.html' %}
{%block style%}
<style>
  .wrapper{
    height:auto;
    display: flex;
    overflow-x:auto;
  }
  .wrapper::-webkit-scrollbar{
    width:0;
  }
  .wrapper .item{
    /* display: flex; */
    width:20vw;
    height: auto;
    text-align: center;
    margin-right:10px;
    border: 1px solid black; 
    border-radius: 8px;
    
  }
  .song-image{
    width:20vw;
    /* height: 50%; */
  }
  a {
    color: white;
    text-decoration: none;
  }
.liked {
  color: blue;
}

</style>
{% endblock%}
{% block content %}
<!-- Include Bootstrap CSS -->
<h3>Popular songs </h3>
<div class="wrapper ">
  
    {% for song in popular_songs %}
    <div class="item ">
        <img src="{{song.album.image.url}}" alt="{{song.title}}" class="song-image">
        <div class="songbody">
          <div class="text-left p-2">
            <div>Title: {{song.title}}</div>
            <div>Artist: {% for artist in song.artists.all %}
              {{artist}}
              {%endfor%}
            </div>
            {% if song in liked %}
              <div ><button class="like-button text-primary " data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
              {% else %}
              <div ><button class="like-button " data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
            {%  endif %}

          </div>

        </div>
        <form action="{% url 'song_history'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="song_id" value="{{song.id}}">
          <button class="btn btn-outline-primary">Play now</button>
        </form>
    </div>
   
    {% endfor %}

</div>

{% if recomendations %}
<h3>Recommended for you  </h3>
<div class="wrapper ">
    {% for song in recomendations %}
    <div class="item ">
        <img src="{{song.album.image.url}}" alt="{{song.title}}" class="song-image">
        <div class="songbody">
          <div class="text-left p-2">
            <div>Title: {{song.title}}</div>
            <div>Artist: {% for artist in song.artists.all %}
              {{artist}}
              {%endfor%}
            </div>
            {% if song in liked %}
              <div ><button class="like-button text-primary" data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
              {% else %}
              <div ><button class="like-button" data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
            {%  endif %}

          </div>

        </div>
        <form action="{% url 'song_history'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="song_id" value="{{song.id}}">
          <button class="btn btn-outline-primary">Play now</button>
        </form>
    </div>
   
    {% endfor %}

</div>
{% endif %}
<h1> Recent added </h1>
<div class="wrapper ">
  
  {% for song in latest_songs %}
 
  <div class="item ">
      <img src="{{song.album.image.url}}" alt="{{song.title}}" class="song-image">
      <div class="songbody">
        <div class="text-left p-2">
          <div>Title: {{song.title}}{{ song.created_at }}</div>
          <div>Artist: {% for artist in song.artists.all %}
            {{artist}}
            {%endfor%}
          </div>
          {% if song in liked %}
              <div ><button class="like-button text-primary" data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
              {% else %}
              <div ><button class="like-button" data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
            {%  endif %}

        </div>

      </div>
      <form action="{% url 'song_history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="song_id" value="{{song.id}}">
        <button class="btn btn-outline-primary">Play now</button>
      </form>
  </div>
 
  {% endfor %}

</div>
<h1> Recent Played </h1>
<div class="wrapper ">
  
  {% for i in recent_played %}
 
  <div class="item ">
      <img src="{{i.song.album.image.url}}" alt="{{i.song.title}}" class="song-image">
      <div class="songbody">
        <div class="text-left p-2">
          <div>Title: {{i.song.title}}{{ i.song.created_at }}</div>
          <div>Artist: {% for artist in i.song.artists.all %}
            {{artist}}
            {%endfor%}
          </div>
          {% if song in liked %}
              <div ><button class="like-button text-primary" data-song-id="{{ i.song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{i.song.liked_by.all.count}}</i>  </button></div>
              {% else %}
              <div ><button class="like-button" data-song-id="{{ i.song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{i.song.liked_by.all.count}}</i>  </button></div>
            {%  endif %}

        </div>

      </div>
      <form action="{% url 'song_history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="song_id" value="{{song.id}}">
        <button class="btn btn-outline-primary">Play now</button>
      </form>
  </div>
 
  {% endfor %}

</div>

  {% for genre in genres %}
    <h4>{{genre.name}}</h4>
    <div class="wrapper ">
  
      {% for song in genre.songsgenre.all %}
      <div class="item ">
          <img src="{{song.album.image.url}}" alt="{{song.title}}" class="song-image">
          <div class="songbody">
            <div class="text-left p-2">
              <div>Title: {{song.title}}</div>
              <div>Artist: {% for artist in song.artists.all %}
                {{artist}}
                {%endfor%}
              </div>
              {% if song in liked %}
              <div ><button class="like-button text-primary" data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
              {% else %}
              <div ><button class="like-button" data-song-id="{{ song.id }}"> <i class="fas fa-thumbs-up total-likes "  > {{song.liked_by.all.count}}</i>  </button></div>
            {%  endif %}
  
            </div>
  
          </div>
          <form action="{% url 'song_history'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="song_id" value="{{song.id}}">
            <button class="btn btn-outline-primary">Play now</button>
          </form>
      </div>
     
      {% endfor %}
  
  </div>
  {% endfor %}

  {% block script%} 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
     $('.like-button').off('click').on('click', function() {
       var songId = $(this).data('song-id');
       var likeButton = $(this);
       $.ajax({
         url: "{% url 'song_like_dislike' %}",
         dataType: 'json',
         data: { 'song_id': songId },
         success: function(response) {
           // update the like count
           likeButton.find('.total-likes').text(response.total_likes);
           if (response.liked) {
            likeButton.addClass('liked');
          } else {
            likeButton.removeClass('liked');
          }
           
         },
       });
     });
   });
   
   </script>
   <script>
    $(document).ready(function(){
      $('.like-button').addClass("btn btn-outline-secondary btn-sm")
    });
   </script>
  {% endblock %}

{% endblock %}
