<!-- movies/movie_list.html -->
{% extends 'basepage/base.html' %}

{% block content %}
  <h1>Movie List</h1>
  {% for movie in movies %}
  <img class="account-img" style = 'max-width: 100px'src="{{ movie.image.url }}" alt="image nnot found">
    <h2>{{ movie.title }}</h2>
    <p>Release date: {{ movie.release_date }}</p>
    <p>Director: {{ movie.director }}</p>
    <p>Rating: {{ movie.rating }}</p>
    <br><br>
    <video width="400" controls>
      <source src="{{ movie.video_file.url }}" type="video/mp4">
      Your browser does not support HTML video.
    </video>
    <a href="{% url 'movie_download' movie.pk %}"><i class="fa fa-download fa-2xl" aria-hidden="true"></i></a>
  {% endfor %}
{% endblock %}
