{% extends 'basepage/base.html' %}
{% block content %}
<h1>Songs</h1>
<ul>
{% for song in songs %}
<img class="account-img" style = 'max-width: 100px'src="{{ song.album.image.url }}" alt="image nnot found">
<h1>{{ song.title }}</h1>
<p>Duration: {{ song.duration }}</p>
<p>Album: {{ song.album.title }}</p>
<p>Artist: {{ song.artist.name }}</p>
<audio controls>

  <source src="{{ song.audio_file.url }}" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<a class="" href="{% url 'song_download' song.pk %}" download><i class="fa fa-download fa-2xl" aria-hidden="true"></i></a>
<br>
{% endfor %}
</ul>



{% endblock %}