body{
  font-family: Poppins;
  color: white;
  background-color: #252e39;
  /* background:linear-gradient(180deg,#f2f6fa 0%, #fff 100%); */
  margin-bottom: 5px;
}

/* Decrease font size for smaller screens */
h2{
  margin:5px;
}
.badge-pill{
  padding-bottom:7px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  h2{
    font-size: 1rem;
  }
  h5{
  font-size: small;
  }
  h4{
    font-size: small;
    margin:2px
  }
}

/* Further decrease font size for even smaller screens */
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  h2{
    font-size: 1rem;
  }
  h5{
    font-size: small;
    }
    h4{
      font-size: small;
      margin:2px
    }
    .badge-pill{
      padding-bottom:3px;
    }
}
dropdown-menu .activeuser{
  text-decoration: none;
}
.logo{
    width: 50px;
    height: 30px;
    border-radius: 12px;
    background-image: linear-gradient(#2691D9, black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-bottom: 3px;
}
.logo-play{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    transform: rotate(90deg);
   
}
.search{
    background-image: linear-gradient(#2691D9, black);
    border-radius: 10px;
    padding: 5px;
}
.container-fluid{
  margin-bottom: 10px;
}




/* indexpage
 */
 
h2 {
	color: #fff;
}
h1 span {
  color: #fff;
  border-bottom: 4px solid #f4511e;
}
h4 {
	color: #fff;
}
h3 {
	color: #fff;
	font-size: 35px;
}
p {
	font-size: 15px;
	color: #E3DFD2;
}
div .p-2 {
	font-size: 16px;
	padding: 15px;
	text-align: left;
}
/* .navbar-nav li .login-link{
  text-decoration: none;
  margin-right: 5px;
} */
.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(5%); 
    width: 100%;
    margin: auto;
  }

  /* image effect category */
  .col-sm-3:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
  .col-sm-3 a {
    text-decoration: none;
  }
 .icn-clr {
    color: #f4511e;
 font-size: 40px; 
 }
  
 
.info {
  width: 100%;
  background: #252e39;
}

.info i {
  font-size: 20px;
  color: #3f43fd;
  float: left;
  width: 44px;
  height: 44px;
  background: #f0f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0099cc;
  text-align: left;
}

.info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.info .email,
.info .phone {
  margin-top: 40px;
}

.info .email:hover i,
.info .address:hover i,
.info .phone:hover i {
  background: #33a6cc;
  color: #fff;
}

.php-email-form {
  width: 100%;
  background: #252e39;
}

.php-email-form .form-group {
  padding-bottom: 8px;
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .error-message br+br {
  margin-top: 25px;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.php-email-form input,
.php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.php-email-form input {
  height: 44px;
}

.php-email-form textarea {
  padding: 10px 12px;
}

.php-email-form button[type=submit] {
  background: #0099cc;
  border: 0;
  padding: 10px 30px;
  color: #ffffff;
  transition: 0.4s;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.php-email-form button[type=submit]:hover {
  background: #33a6cc;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 575px) {
 .img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
	
 .carousel-caption h3 {
    color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }  

  .main-row{
    margin-top: 300px;
  }

  /* footer */
 
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  footer .container{
    max-width: 1170px;
    margin:auto;
    padding: 2px;
   
  }
  /* footer .row{
    display: flex;
    flex-wrap: wrap;
  } */
  .footer-col ul{
    list-style: none;
    margin-left: 37%;
  }
  .footer{
    background-color: #24262b;
      padding: 10px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 5px;
     font-size: 1rem;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
    text-align: center;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #1CC3FF;
    height: 2px;
    box-sizing: border-box;
    width: 100%;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 2px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  a{
    font-size:x-small
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 50%;
  }
  a{
    font-size:x-small
  }
  }