.form-group input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    /* background: none; */
    outline: none;
  }
#form-colum{
    background-image: linear-gradient(#2691D9,black);
}

