
{% extends 'basepage/base.html' %}
{%block style%}
<style>
  .wrapper{
    /* height:auto; */
    display: flex;
    overflow-x:auto;
    flex-direction: row;
    /* justify-content: space-evenly; */
  }
  .wrapper::-webkit-scrollbar{
    width:0;
  }
  .wrapper .item{
    min-width:30vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    border-radius: 8px;
    margin-left: 10px;
  }

  .item img{
    max-width: 100%;
    max-height: 37%;

  }
.item .songbody{
  text-align: left;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  /* styles to apply when screen width is 768px or wider */
  .item .songbody {
    font-size: 10px;
  }
  .wrapper .item{
    width:40vw;
    height:300px;
    /* display: flex; */
    /* flex-direction: column; */
    border: 1px solid black; 
    border-radius: 8px;
    margin-left: 10px;
  }
  .item img{
    max-width: 100%;
    max-height: 25%;
  }
}
</style>

{% endblock%}


{% block content %}
<!-- Include Bootstrap CSS -->
<h1>Movies </h1>
<div class="wrapper ">
  {% for movie in history %}
 
    <div class="item ">
      <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
        <div class="songbody px-2">
            <h4>{{ movie.title }}</h4>
              <p>Release date: {{ movie.release_date }}</p>
              <p>Director: {{ movie.director }}</p>
              <p>Rating: {{ movie.rating }}</p>
              <div ><i class="fas fa-thumbs-up"></i> {{movie.total_likes}}</div>
            </div>
            <form action="{% url 'history'%}" method="post">
              {% csrf_token %}
              <input type="hidden" name="v_id" value="{{movie.id}}">
              <button class="btn btn-outline-primary">Play now</button>
            </form>
        </div>

    
    {% endfor %}
</div>
<!-- <h1> Recent added </h1>
<div class="wrapper ">
  {% for movie in latest_movies %}
    <a href="{% url 'play_movie' pk=movie.pk %}" class="text-white"> 
    <div class="item ">
      <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
        <div class="songbody px-2">
            <h4>{{ movie.title }}</h4>
              <p>Release date: {{ movie.release_date }}</p>
              <p>Director: {{ movie.director }}</p>
              <p>Rating: {{ movie.rating }}</p>
              <div ><i class="fas fa-thumbs-up"></i> {{movie.total_likes}}</div>
            </div>
          
        </div>
    </a>
    {% endfor %}
</div>

<div>
  {% for genre in genres %}
    <h4>{{genre.name}}</h4>
    
    <div class="wrapper ">
      {% for movie in genre.movies.all %}
        <a href="{% url 'play_movie' pk=movie.pk %}" class="text-white"> 
        <div class="item ">
          <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
            <div class="songbody px-2">
                <h4>{{ movie.title }}</h4>
                  <p>Release date: {{ movie.release_date }}</p>
                  <p>Director: {{ movie.director }}</p>
                  <p>Rating: {{ movie.rating }}</p>
                  <div ><i class="fas fa-thumbs-up"></i> {{movie.total_likes}}</div>
                </div>
              
            </div>
        </a>
        {% endfor %}
    </div>
  {% endfor %}
</div>

 -->

{% endblock %}
