{% extends 'basepage/base.html' %}
{% load static %}
{%block style%}
<link rel="stylesheet" href="{% static 'css/content-list.css' %}">
{% endblock%}
{% block content %}



<!-- Include Bootstrap CSS -->
<h1>Popular Movies </h1>
<div class="wrapper ">
  {% for movie in popular_movies %}
  <div class="item ">
    <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
    <div class="songbody px-2">
      <h4>{{ movie.title }}</h4>
      <div>Release date: {{ movie.release_date }}</div>
      <div>Director: {{ movie.director }}</div>
      <h2><i class="fab fa-imdb"></i> <span class="rating"> {{ movie.rating }}</span></h2>

      {% if movie in liked %}
      <div><button class="like-button text-primary p-1" data-movie-id="{{ movie.id }}"> <i
            class="fas fa-thumbs-up total-likes "> {{movie.liked_by.all.count}}</i> </button></div>
      {% else %}
      <div><button class="like-button p-1" data-movie-id="{{ movie.id }}"> <i class="fas fa-thumbs-up total-likes ">
            {{movie.liked_by.all.count}}</i> </button></div>
      {% endif %}
      {% if movie.subscription_only %}
      <span class="premium-tag">Premium</span>
      {% if status == 'active'%}
      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
      {% else %}

      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<!-- favorite section -->
{% if user.userfavmovie.all.count > 0 %}
<h1>Favorite Movies </h1>
<div class="wrapper ">

  {% for movie in user.userfavmovie.all %}

  <div class="item ">
    <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
    <div class="songbody px-2">
      <h4>{{ movie.title }}</h4>
      <div>Release date: {{ movie.release_date }}</div>
      <div>Director: {{ movie.director }}</div>
      <h2><i class="fab fa-imdb"></i> <span class="rating"> {{ movie.rating }}</span></h2>

      {% if movie in liked %}
      <div><button class="like-button text-primary p-1" data-movie-id="{{ movie.id }}"> <i
            class="fas fa-thumbs-up total-likes "> {{movie.liked_by.all.count}}</i> </button></div>
      {% else %}
      <div><button class="like-button p-1" data-movie-id="{{ movie.id }}"> <i class="fas fa-thumbs-up total-likes ">
            {{movie.liked_by.all.count}}</i> </button></div>
      {% endif %}
      {% if movie.subscription_only %}
      <span class="premium-tag">Premium</span>
      {% if status == 'active'%}
      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
      {% else %}

      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>
{% endif %}

<!-- recommended section -->
{% if recomendations %}
<h1>Recommended for you </h1>
<div class="wrapper ">
  {% for movie in recomendations %}
  <div class="item ">
    <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
    <div class="songbody px-2">
      <h4>{{ movie.title }}</h4>
      <div>Release date: {{ movie.release_date }}</div>
      <div>Director: {{ movie.director }}</div>
      <h2><i class="fab fa-imdb"></i> <span class="rating"> {{ movie.rating }}</span></h2>

      {% if movie in liked %}
      <div><button class="like-button text-primary p-1" data-movie-id="{{ movie.id }}"> <i
            class="fas fa-thumbs-up total-likes "> {{movie.liked_by.all.count}}</i> </button></div>
      {% else %}
      <div><button class="like-button p-1" data-movie-id="{{ movie.id }}"> <i class="fas fa-thumbs-up total-likes ">
            {{movie.liked_by.all.count}}</i> </button></div>
      {% endif %}
      {% if movie.subscription_only %}
      <span class="premium-tag">Premium</span>
      {% if status == 'active'%}
      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
      {% else %}

      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>
{% endif %}

<h1> Recent added </h1>
<div class="wrapper ">
  {% for movie in latest_movies %}

  <div class="item ">
    <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
    <div class="songbody px-2">
      <h4>{{ movie.title }}</h4>
      <div>Release date: {{ movie.release_date }}</div>
      <div>Director: {{ movie.director }}</div>
      <h2><i class="fab fa-imdb"></i> <span class="rating"> {{ movie.rating }}</span></h2>

      {% if movie in liked %}
      <div><button class="like-button text-primary p-1" data-movie-id="{{ movie.id }}"> <i
            class="fas fa-thumbs-up total-likes "> {{movie.liked_by.all.count}}</i> </button></div>
      {% else %}
      <div><button class="like-button p-1" data-movie-id="{{ movie.id }}"> <i class="fas fa-thumbs-up total-likes ">
            {{movie.liked_by.all.count}}</i> </button></div>
      {% endif %}
      {% if movie.subscription_only %}
      <span class="premium-tag">Premium</span>
      {% if status == 'active'%}
      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
      {% else %}

      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>

{% if history_obj %}
<h1> Recent Played </h1>
<div class="wrapper ">
  {% for i in recent_played %}

  <div class="item ">
    <img class="account-img" src="{{ i.movie.poster.url }}" alt="image not found">
    <div class="songbody px-2">
      <h4>{{ i.movie.title }}</h4>
      <div>Release date: {{ i.movie.release_date }}</div>
      <div>Director: {{ i.movie.director }}</div>
      <h2><i class="fab fa-imdb"></i> <span class="rating"> {{ i.movie.rating }}</span></h2>

      {% if i.movie in liked %}
      <div><button class="like-button text-primary p-1" data-movie-id="{{ i.movie.id }}"> <i
            class="fas fa-thumbs-up total-likes "> {{i.movie.liked_by.all.count}}</i> </button></div>
      {% else %}
      <div><button class="like-button p-1" data-movie-id="{{ i.movie.id }}"> <i class="fas fa-thumbs-up total-likes ">
            {{i.movie.liked_by.all.count}}</i> </button></div>
      {% endif %}
      {% if i.movie.subscription_only %}
      <span class="premium-tag">Premium</span>
      {% if status == 'active'%}
      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{i.movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
      {% else %}

      <form action="{% url 'history'%}" method="post">
        {% csrf_token %}
        <input type="hidden" name="movie_id" value="{{i.movie.id}}">
        <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}

</div>
{% endif %}



<div>
  {% for genre in genres %}
  <h1>{{genre.name}}</h1>

  <div class="wrapper ">
    {% for movie in genre.movies.all %}

    <div class="item ">
      <img class="account-img" src="{{ movie.poster.url }}" alt="image not found">
      <div class="songbody px-2">
        <h4>{{ movie.title }}</h4>
        <div>Release date: {{ movie.release_date }}</div>
        <div>Director: {{ movie.director }}</div>
        <h2><i class="fab fa-imdb"></i> <span class="rating"> {{ movie.rating }}</span></h2>
  
        {% if movie in liked %}
        <div><button class="like-button text-primary p-1" data-movie-id="{{ movie.id }}"> <i
              class="fas fa-thumbs-up total-likes "> {{movie.liked_by.all.count}}</i> </button></div>
        {% else %}
        <div><button class="like-button p-1" data-movie-id="{{ movie.id }}"> <i class="fas fa-thumbs-up total-likes ">
              {{movie.liked_by.all.count}}</i> </button></div>
        {% endif %}
        {% if movie.subscription_only %}
        <span class="premium-tag">Premium</span>
        {% if status == 'active'%}
        <form action="{% url 'history'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="movie_id" value="{{movie.id}}">
          <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
        </form>
        {% endif %}
        {% else %}
  
        <form action="{% url 'history'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="movie_id" value="{{movie.id}}">
          <button class="btn btn-outline-primary play-button">
          <i class="fa fa-play"></i>
        </button>
        </form>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% block script%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.like-button').off('click').on('click', function () {
      var movieId = $(this).data('movie-id');
      var likeButton = $(this);
      $.ajax({
        url: "{% url 'like_dislike' %}",
        dataType: 'json',
        data: { 'movie_id': movieId },
        success: function (response) {
          // update the like count
          likeButton.find('.total-likes').text(response.total_likes);
          if (response.liked) {
            likeButton.addClass('liked');
          } else {
            likeButton.removeClass('liked');
          }

        },
      });
    });
  });

</script>
<script>
  $(document).ready(function () {
    $('.like-button').addClass("btn btn-outline-secondary btn-sm")
  });
</script>
{% endblock %}

{% endblock %}