

{% extends 'basepage/base.html' %}
{%block style%}
<style>
   .wrapper{
    height:auto;
    display: flex;
    overflow-x:auto;
  }
  .wrapper::-webkit-scrollbar{
    width:10px;
  }
  .wrapper .item{
    /* display: flex; */
    width: 18vw;
    height: auto;
    text-align: left;
    margin-right:10px;
    border: 1px solid black; 
    border-radius: 8px;
    
  }
  .song-image{
    width: 18vw;
    height: 12vw;
    border-radius: 8px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  h1 {
    font-size: 1.5rem;
    font-family: poppins;
}
h4 {
    color: rgba(90, 90, 90, 0.75);
    font-family: poppins;
    font-size: 1.0rem;
}
.songbody {
  color: black;
  background-color: white;
  text-align: left;
  font-family: poppins;
  font-size: 0.5rem;
}

</style>
{% endblock%}


{% block content %}
<!-- Include Bootstrap CSS -->
<h1>Popular songs </h1>
<div class="wrapper ">
  
  {% for movie in movies %}
    <a href="#" class="text-white"> 
    <div class="item">
      <img class="song-image" src="{{ movie.poster.url }}" alt="image not found">
        <div class="songbody">
          <div class="text-left p-2">
           <div><h1>{{ movie.title }}</h1></div>
              <h4>Rating: {{ movie.rating }}</h4>
              <h4><i class="fas fa-thumbs-up" style="color:green;"></i> {{movie.total_likes}}</h4>
            </div>
            

          </div>

        </div>
    </div>
    </a>
    {% endfor %}

</div>
<h1> Recent added </h1>

<h1>Rap songs</h1>

<h2>
  Romatic songs
</h2>


{% endblock %}
