{% extends 'basepage/base.html' %}
{% block style %}
<style>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:30vh;
}
.card {
  background-color: #333;
  color: #fff;
}

.card-header {
  font-size: 1.5rem;
}

.card-subtitle {
  font-size: 1.2rem;
  font-style: italic;
}

video {
  width: 100%;
  margin-top: 1rem;
}


</style>
{% endblock %}
{% block content %}
  <div class="container align-center mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title">{{ movie.title }}</h5>
            <!-- <span class="text-right"> <a href="{% url 'movie_download' movie.pk %}"><i class="fa fa-download fa-2xl" aria-hidden="true"></i></a>
                </span> -->
                <form action="{% url 'mark_as_favorite' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{movie.id}}" name="movie_id">
                  {% if is_favorite %}
                    <button  type="submit" class="text-danger btn  btn-outline-secondary"><i class="fas fa-heart" id="unfavorite-icon"></i></button>
                  {% else %}
                    <button  type="submit" class="text-secondary btn btn-outline-danger"><i class="far fa-heart" id="favorite-icon"></i></button>
                  {% endif %}
                </form>
              
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-8">
                <video controls>
                    <source src="{{ movie.video_file.url }}" type="video/mp4">
                    Your browser does not support HTML video.
                  </video>
                  <!-- <a href="{% url 'movie_download' movie.pk %}"><i class="fa fa-download fa-2xl" aria-hidden="true"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
